
<div class="cop"><p class="copText">Copyright YOSI © 2017. ALL RIGHTS RESERVED</p></div>
	<a class="menufooter" href="#!register"><p><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;{{ data.menu2 }}</p></a>
    <a class="menufooter" href="#!loadProfile"><p><i class="fa fa-folder" aria-hidden="true"></i>&nbsp;{{user.loggedIn ? 'Manage Profiles' : data.menu1 }}</p></a>
     <a class="menufooter" href="#!Macros"><p><i class="fa fa-calculator" aria-hidden="true"></i>&nbsp;{{ data.menu5 }}</p></a>
<!--
    <a class="menufooter" href="#!RecipeBook"><p><i class="fa fa-book" aria-hidden="true"></i>&nbsp;{{ data.menu3 }}</p></a>
    <a class="menufooter" href="#!FoodBrowser"><p><i class="fa fa-list-ul" aria-hidden="true"></i>&nbsp;{{ data.menu4 }}</p></a>
-->
    <div class="logoContainer">
    </div>
	