<div data-ng-class="{'myQuestionBox':true}">
		    <h5>You are not logged in</h5>
		    <div class="filler"></div>
		    <p>Create new User,or Load existing to save profile:</p>
            <div class="myBtnBox myBoxLeft"><button data-ng-class="{'myButton':true}" data-ng-click="utility.my_Move('/Save'); "><h4>Create New User</h4></button></div>	     
		    <div class="myBtnBox myBoxRight"><button data-ng-class="{'myButton':true}" data-ng-click="utility.my_Move('/Save');"><h4>Load User</h4></button></div>
		 <div class="filler"></div>
	</div>